/// Estilos para la sección hero
/// 
/// Define una sección destacada con fondo de imagen, texto centrado y sombras.
/// 
/// @author Miguel
/// @since 1.0.0
/// @group Hero

.hero {
  background: url("../src/img/banner.webp") no-repeat; /// Imagen de fondo sin repetición
  background-size: cover;                              /// Ajustar imagen para cubrir
  height: 90vh;                                        /// Altura de la sección
  @include flex-center;                                /// Centrar contenido con mixin
  flex-direction: column;                              /// Alinear elementos en columna
  color: rgb(255, 255, 255);                           /// Color del texto
  text-align: center;                                  /// Alinear texto al centro

  /// Encabezado principal en la sección hero
  h1 {
    font-size: font-size(xxl);                         /// Tamaño de fuente XXL
    text-shadow: 0px 0px 7px $primary-color;           /// Sombra para resaltar el texto
  }

  /// Párrafo en la sección hero
  p {
    font-size: 2em;                                    /// Tamaño de fuente grande
    text-shadow: 0px 0px 7px $primary-color;           /// Sombra para resaltar el texto
  }    
}
